{{! 
	
	BLOG TITLE
	- Configuration of this file is not required. 

}}

	<header class="title">
		{{! THE BELOW <i> ICON CLASS CAN BE CHANGED TO ANY OTHER FontAwesome ICON }}
		{{! REPLACE THE CLASS 'fa-bookmark-o' WITH ANY OTHER ICON NAME }}
		{{! AVAILABLE ICONS CAN BE FOUND AT }}
		{{! http://fortawesome.github.io/Font-Awesome/cheatsheet/ }}
		<a href="{{@blog.url}}"><i class="fa fa-bookmark-o fa-lg"></i><span>{{@blog.title}}</span></a>
	</header>
