{{! 
	
	POST - FLOWBAR
	- Configuration of this file is not required. 

}}

	<div class="flowbar">
		<div class="wrapper">
			<h1 class="right">{{title}}</h1>
			<h2 class="left">Introduction</h2>
		</div>
	</div>
