{{!

	SOCIAL - SIDE
	! Configuration required.

}}

	{{! REPLACE THE BELOW WITH THE LIST OF AUTHORS }}
	{{#has author="Shayne Boyer, Harvey Specter"}}

		{{! USE THE BELOW SYNTAX TO ADD SOCIAL PROFILES FOR EACH AUTHOR }}
		{{! REMOVE ANY LINKS WHICH ARE NOT REQUIRED }}
		{{#has author="Shayne Boyer"}}
		<ul class="socialside">
			{{! ADD AUTHOR SOCIAL LINKS HERE }}
			{{! REMOVE ANY UNWATED LINKS }}

			{{! TWITTER }}<li><a href="http://twitter.com/spboyer" class="twitter" target="_blank">
			<i class="fa fa-twitter" style="margin: 2px"></i></a></li>

			{{! GITHUB }}<li><a href="http://github.com/spboyer" class="github" target="_blank">
			<i class="fa fa-github-alt" style="margin: 2px"></i></a></li>

			{{! GOOGLE+ }}<li><a href="http://plus.google.com/+shayneboyer" class="googleplus" target="_blank">
			<i class="fa fa-google-plus" style="margin: 2px"></i></a></li>

			{{! LINKEDIN }}<li><a href="https://www.linkedin.com/in/shayneboyer" class="linkedin" target="_blank">
			<i class="fa fa-linkedin" style="margin: 2px"></i></a></li>

			{{! RSS - LEAVE DEFAULT}}<li><a href="{{@blog.url}}/rss/" class="rss" target="_blank">
			<i class="fa fa-rss" style="margin: 2px"></i></a></li>
		</ul>
		{{/has}}


		{{! COPY THE ABOVE AUTHOR BLOCKS FOR ANY ADDITIONAL AUTHORS }}

	{{/has}}
