{{!

	SOCIAL - BOTTOM
	! Configuration required.

}}

	{{! REPLACE THE BELOW WITH THE LIST OF AUTHORS }}
	{{#has author="Mike Ross, Harvey Specter"}}

		{{! USE THE BELOW SYNTAX TO ADD SOCIAL PROFILES FOR EACH AUTHOR }}
		{{! REMOVE ANY LINKS WHICH ARE NOT REQUIRED }}
		{{#has author="Shayne Boyer"}}
		<ul class="social">
			{{! ADD AUTHOR SOCIAL LINKS HERE }}
			{{! REMOVE ANY UNWATED LINKS }}
			{{! TWITTER }}<li><a href="http://twitter.com/spboyer" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
			{{! GITHUB }}<li><a href="http://github.com/spboyer" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
			{{! YOUTUBE }}<li><a href="http://youtube.com/" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
			{{! GOOGLE+ }}<li><a href="http://plus.google.com/+shayneboyer" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
			{{! LINKEDIN }}<li><a href="https://www.linkedin.com/in/shayneboyer" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			{{! STACKOVERFLOW }}<li><a href="stackoverflow.com/users/595213/shayne-boyer" class="stackoverflow" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
			{{! RSS - LEAVE DEFAULT}}<li><a href="{{@blog.url}}/rss/" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
		</ul>
		{{/has}}

		{{#has author="Harvey Specter"}}
		<ul class="social">
			{{! ADD AUTHOR SOCIAL LINKS HERE }}
			{{! REMOVE ANY UNWATED LINKS }}
			{{! TWITTER }}<li><a href="http://twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
			{{! FACEBOOK }}<li><a href="http://facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
			{{! GITHUB }}<li><a href="http://github.com/" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
			{{! YOUTUBE }}<li><a href="http://youtube.com/" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
			{{! DRIBBBLE }}<li><a href="http://dribbble.com/" class="dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
			{{! GOOGLE+ }}<li><a href="http://plus.google.com/" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
			{{! INSTAGRAM }}<li><a href="http://instagram.com/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
			{{! PINTEREST }}<li><a href="http://pinterest.com/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
			{{! LINKEDIN }}<li><a href="http://linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			{{! STACKOVERFLOW }}<li><a href="http://stackoverflow.com/" class="stackoverflow" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
			{{! RSS - LEAVE DEFAULT}}<li><a href="{{@blog.url}}/rss/" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
		</ul>
		{{/has}}

		{{! COPY THE ABOVE AUTHOR BLOCKS FOR ANY ADDITIONAL AUTHORS }}

	{{/has}}
